* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #151616;
  text-align: center;
}

.three-dot {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 26px;
  cursor: pointer;
  color: rgb(21, 21, 22);
  background-color: rgb(47, 145, 210);
  padding: 5px 10px;
  border-radius: 6px;
  z-index: 1001;
}

.dropdown {
  position: fixed;
  top: 0;
  left: -25%;
  width: 25%;
  height: 100%;
  background: linear-gradient(to bottom, #1e3c72, #2a5298);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.4s ease;
  z-index: 1000;
}

.dropdown.active {
  left: 0;
}

.dropdown a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 15px 0;
  padding: 10px 25px;
  border-radius: 8px;
  transition: 0.3s;
}

.dropdown a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h1 {
  color: #1e3c72;
  font-size: 32px;
}
